<h2>Ajouter un preset</h2>
<form (ngSubmit)="onSubmit($event)">
  <mat-form-field appearance="fill">
    <mat-label>Nom du preset</mat-label>
    <input matInput [(ngModel)]="presetName" name="presetName" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>URL</mat-label>
    <textarea matInput [(ngModel)]="sampleUrls" name="sampleUrls" required></textarea>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">
    Ajouter le preset
  </button>
</form>
